<h2>Welcome to Phoenix Admin!</h2>
<p>Your account is almost ready for use. All you need to do is verify your email address.</p>
<p>You can do so by clicking <a href="<%= @verify_url %>">this link</a> or by pasting the link below in your web browser.</p>
<p><%= @verify_url %></p>
